
body {

font-family: 'Quicksand', sans-serif;
    'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
}

h1 {
  font-size: 40px;
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 3.25rem;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

#main {
  margin: 30px 8px;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
}
  footer {
  margin: 30px 8px;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
}
#image {
  padding: 45px;
  border-radius: 30px;
  width: 400px;
}

#img-caption {
  font-size: 24px;
  line-height: -0.2;
}
#tribute-info {
  font-family: non;
  font-size: 25px;
}
#tribute-link {
  color: orange;
  
}
#tribute-link:hover {
  color: blue;
  font-family: Quicksand;
  font-size: 30px;
  text-align: start;
}
h4 {
  font-size: 20px;
    font-family: non;
  text-align: central;
}
<style>
#image {
 transition: transform 0.2s;
}
#image:hover {
 transform: scale(1.5, 1.5);
}
</style>
